
<ion-view style="background: #F8F9FA;" view-title="{{ vm.detialTitle }}">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="vm.backPage()"> 返回</button>
    </ion-nav-buttons>
    <ion-content overflow-scrolling="false">
        <ion-list>
            <ion-item class=" item-histort" ng-repeat=" item in vm.historyList">
                <span ng-bind="item.optionNo" ></span>
                <div>
                    <h2 ng-bind="item.dealStatus" ></h2>
                    <h3 ng-bind="item.dealOption" ></h3>
                    <dl>
                        <dt ng-bind="item.dealUser" ></dt>
                        <dt ng-bind="item.dealTime" ></dt>
                    </dl>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
